<main class="d-flex flex-row" style="height: 100vh">
  <section
    class="container pe-4 bg-warning"
    style="border-right: 1px solid #ccc"
  ></section>

  <section class="container mt-5 pt-4 pb-4">
    <div class="text-center">
      <h2>Registro</h2>
    </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="sendFormRegister()"
      class="mx-auto"
      style="max-width: 600px"
    >
      <div class="mb-3">
        <label for="userName" class="col-form-label">Nombre</label>
        <input
          type="text"
          required
          class="form-control"
          id="userName"
          formControlName="userName"
        />
        @if (registerForm.get('userName')?.touched &&
        registerForm.get('userName')?.invalid) {
        @if(registerForm.get('userName')?.hasError('required')) {
        <small class="text-danger">El nombre es obligatorio.</small>
        } }
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          aria-describedby="emailDescription"
        />
        <div id="emailDescription" class="form-text">
          Nunca compartiremos su correo electrónico con nadie más.
        </div>
        @if (registerForm.get('email')?.touched &&
        registerForm.get('email')?.invalid) {
        @if(registerForm.get('email')?.hasError('required')) {
        <small class="text-danger">El email es obligatorio.</small>
        } }
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        @if(registerForm.get('password')?.touched &&
        registerForm.get('password')?.invalid) {
        @if(registerForm.get('password')?.hasError('required')) {
        <small class="text-danger">La contraseña es obligatoria.</small>
        } @if(registerForm.get('password')?.hasError('minlength')) {
        <small class="text-danger"
          >La contraseña debe tener al menos 7 caracteres.</small
        >
        } @if(registerForm.get('password')?.hasError('pattern')) {
        <small class="text-danger"
          > La contraseña debe contener al menos una letra minúscula y un
          carácter especial.</small
        >
        } }
      </div>
      <div class="text-center text-muted">
        <small
          >Ya tenes cuenta? <a [routerLink]="['/sign-in']">Inicia Sesión</a>
        </small>
      </div>
      <div class="text-end">
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          class="btn btn-primary"
        >
          Enviar
        </button>
      </div>
    </form>
  </section>

  <!-- <div class="pt-5 pb-5">
  <h5>pruebas</h5>
  <p>Form Status: {{ registerForm.status }}</p>
  <p>Valor nombre: {{registerForm.value.userName}}</p>
  <p>Valor email: {{registerForm.value.email}}</p>
  <p>Valor password: {{registerForm.value.password}}</p>
</div> -->
</main>
